body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:412px;
}
#u91 {
  position:absolute;
  left:10px;
  top:22px;
  width:580px;
  height:412px;
}
#u92 {
  position:absolute;
  left:2px;
  top:198px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:33px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u93 {
  position:absolute;
  left:143px;
  top:83px;
  width:353px;
  height:33px;
}
#u94 {
  position:absolute;
  left:10px;
  top:10px;
  width:333px;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:23px;
}
#u95 {
  position:absolute;
  left:433px;
  top:89px;
  width:54px;
  height:23px;
}
#u96 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:33px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u97 {
  position:absolute;
  left:143px;
  top:126px;
  width:353px;
  height:33px;
}
#u98 {
  position:absolute;
  left:10px;
  top:10px;
  width:333px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:23px;
}
#u99 {
  position:absolute;
  left:434px;
  top:131px;
  width:54px;
  height:23px;
}
#u100 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:33px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u101 {
  position:absolute;
  left:143px;
  top:169px;
  width:353px;
  height:33px;
}
#u102 {
  position:absolute;
  left:10px;
  top:10px;
  width:333px;
  word-wrap:break-word;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:33px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u103 {
  position:absolute;
  left:143px;
  top:212px;
  width:353px;
  height:33px;
}
#u104 {
  position:absolute;
  left:10px;
  top:10px;
  width:333px;
  word-wrap:break-word;
}
#u105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:33px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u105 {
  position:absolute;
  left:143px;
  top:254px;
  width:353px;
  height:33px;
}
#u106 {
  position:absolute;
  left:10px;
  top:10px;
  width:333px;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:33px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u107 {
  position:absolute;
  left:143px;
  top:297px;
  width:353px;
  height:33px;
}
#u108 {
  position:absolute;
  left:10px;
  top:10px;
  width:333px;
  word-wrap:break-word;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u109 {
  position:absolute;
  left:34px;
  top:40px;
  width:137px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:33px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u111 {
  position:absolute;
  left:143px;
  top:338px;
  width:353px;
  height:33px;
}
#u112 {
  position:absolute;
  left:10px;
  top:10px;
  width:333px;
  word-wrap:break-word;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:33px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u113 {
  position:absolute;
  left:143px;
  top:376px;
  width:353px;
  height:33px;
}
#u114 {
  position:absolute;
  left:10px;
  top:10px;
  width:333px;
  word-wrap:break-word;
}
